@use '../config/variables.scss' as *;
@use '../mixins/responsive.scss' as *;

.article{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 4rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px lighten($grayish-blue, 20);
    @include responsive(laptop) {
        flex-direction: row;
    }

}

.article--top,
.article--bottom{
    background-position:top, bottom;
    background-repeat: no-repeat;
    background-size: contain;  
    @include responsive(laptop) {
        flex-direction: row-reverse;
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

.article-button{
    position: relative;
    z-index: 10;
    box-shadow: 0px 0px 10px lighten($grayish-blue, 10);
    border-radius: 1rem;
    left: 5%;
    top: 120px;
    background-color: white;
    width: 90%;
    height: 200px;
    padding-top: 2rem;
    @include responsive(laptop) {
        top: 100px;
        width: 60%;
        left: 20%;
    }
}
