html {
    font-size: 14px;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    max-width: 1440px;
    min-width:375px ;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
