@use '../config/variables.scss' as *;
@use '../mixins/hover.scss' as *;
@use '../mixins/responsive.scss' as *;

.button{
    display: block;
    border-radius: 2rem;

    &--header{
        padding: 0.5rem 1.5rem 0.5rem;
        color: black;
        background-color: white;
        box-shadow: 0px 1px 10px lighten($grayish-blue, 20);
        &:hover {
            @include hover {
                border: solid lighten($pink, 20);
                color:lighten($pink, 20);
            }
    }
    }

    &--main{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 4rem;
        width: 250px;
        text-align: center;
        color: white;
        padding: 1rem 2rem 1rem;
        background-color: var(--pink);
        box-shadow: 0 10px 20px transparentize($pink, 0.5);
        


        &:hover {
            @include hover {
               background-color: lighten($pink, 10);
            }
    }
    }
   
}
.button--main--header{
    @include responsive(laptop){
        margin-left: 0;
        margin-right: 0;
    }
}
.footer-button{
    display: block;
    width: 120px;
    color: white;
    border-radius: 0.5rem;
    padding: 1rem 2rem 1rem;
    background-color: var(--pink);
    &:hover {
        @include hover {
           background-color: lighten($pink, 10);
        }
}
}
